<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room - 3 2 1!</title>
    <script src="room.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="timeoutOverlay">
        <div id="standardDiv">
            <label id="standardHeader">Connection Timed Out</label>

            <p id="standardDescription">A player has disconnected from the game</p>
            <p id="standardDescription">Please return to the menu</p>

            <button id="returnHome" class="timeout" onclick="returnHome()">MENU</button>
        </div>
        
    </div>

    <div id="winOverlay">
        <div id="standardDiv">
            <label id="standardHeader" class="gold">YOU WIN</label>

            <p id="standardDescription">Both players have guessed the same word!</p>
            <p id="standardDescription">Return to the menu to play again</p>

            <button id="returnHome" class="win" onclick="returnHome()">MENU</button>
        </div>
        
    </div>

    <img src="logo.png" id="logo">

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
    
    <br>
    
    <h1 id="gamePinText">GAME PIN</h1>
    <button id="room" onclick="copyLink()">
        <h1 id="roomCode"> <%= room.code %> </h1>
        <h4 id="copyMessage">[click to copy link]</h4>
    </button>
    
    <div class="players">
        
        <span id="playerOne">Player 1</span>
        <span id="playerTwo">Player 2</span>
    </div>

    <br>
    <div id="inputArea">
        <input id="wordInput" type="text" id="textInput" placeholder="enter word"/>
        <button id="wordButton" onclick="sendWord()">➤</button>
        
    </div>

    <label id="errorMessage"> </label>

    <br>

    <h1 id="pastWordsLabel">PAST WORDS</h1>

    <div id="allWords">
        <% for(let i = room.pubWords.length - 1; i >= 0; i--){ %>
            <% if (room.pubWords[i][0] !== ""){ %>
                <div id="entries"> 
                    <label id="entry"><%= room.pubWords[i][0] %></label>
                    <label id="entry"><%= room.pubWords[i][1] %></label>
                </div>
            <%} %>
        <% }; %>
    </div>

    

</body>
</html>